.key-calculus {
    background-color: #ec4899;
    /* Additional styles for calculus keys can be added here */
}

.row-calculus {
    display: flex;
    justify-content: space-between;
    /* Additional styles for the row can be added here */
}

.keyboard {
    padding: 20px 10px;  /* Adjusted padding to accommodate new row */
}

.key-calculus:hover {
    background-color: #d83d82;  /* Example hover effect */
    /* Other hover effects can be defined here */
}